body{text-align: center;
display: flex;
width: 100%;
}

article
{text-align: left;
float: left;
margin-left: 20%;
margin-top: 15%;
}

form{
    box-shadow: inset;
    padding-top: 0px;
    padding-bottom: 10px;;
    padding-left:10px;
    padding-right:10px;
    border-radius: 100px;
    list-style: none;
    margin-top: 50px;  
  
}

input{
    border-color: lightgrey;
    width: 100%;
    border-radius: 10px; 
    padding: 30px, 30px, 30px, 30px;
    margin-top: 30px;
    }

    input:hover{color: blue;}

.logged{
    background-color: blue;
    text-align: center;
    color: white;
    border: 10px;
width: 5%;
border-radius: 10px;
padding-top: 15px;
padding-bottom: 15px;
margin-bottom: 10px;
}

.new{background-color: lightgreen;
    border:100px;
width: 100px;    
    position: relative;
    height: 35px;
    padding: 3px 3px 3px 3px;
    border-radius: 3px;
    margin-top: 10px; 

}


a{
    text-align: center;
    text-decoration: none;
    color: blue;
    margin-top: 10px;
    
}